.header {
    flex: 0 1 237px;
    display: flex;
    flex-direction: column;
    padding: 17px 0;
    position: relative;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 49px;
}

.header__menu {
    width: 24px;
    height: 24px;
    color: var(--grey-4);
}

.header__menu-wrapper {
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 24px;
    padding: 0 16px;
}

.header__logo {
    width: 110px;
    height: 32px;
    color: var(--black);
}

.header__nav {
    display: none;
}

.header__nav-item {
    color: var(--grey-3);
    text-decoration: none;
    padding-right: 24px;
}

.header__nav-item_active {
    color: var(--black);
}

.header__nav-item:last-child {
    padding-right: 0;
}

@media all and (min-width: 750px) {
    .header {
        padding-top: 25px;
    }

    .header__top {
        justify-content: space-between;
    }

    .header__menu-wrapper {
        display: none;
    }

    .header__nav {
        display: flex;
    }
}