.page {
    background: #F9FAFC;
    display: grid;
    grid-template-rows: 118px 1fr auto;
    grid-template-areas: "header"
                          "main"
                          "footer";
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
}

@media all and (min-width: 1200px) {
    .page {
        padding: 0;
    }
}

@media all and (min-width: 750px) {
    .page {
        padding: 0 16px;
    }
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "menu component";
    grid-column-gap: 56px;
    width: 100%;
    justify-self: center;
    grid-area: main;
}

.page__header {
    grid-area: header;
}
