.page {
    background: #F9FAFC;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                          "main"
                          "footer";
    padding: 0 165px;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    width: 100%;
    justify-self: center;
    grid-area: main;
}