.page {
    display: flex;
    flex-direction: column;
}

.page__box {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
}

@media all and (min-width: 1200px) {
    .page__box {
        padding: 0;
    }
}

.page__main {
    background: #F9FAFC;
    flex-grow: 1;
}