.page {
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page__box {
    padding: 0 165px;
}

.page__main {
    background: #F9FAFC;
    flex-grow: 1;
}