h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.28;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.26;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.36;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.30;
}

h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}

h6 {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.57;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

@media all and (min-width: 750px) {
    h1 {
        font-weight: 500;
        font-size: 50px;
    }

    h2 {
        font-weight: 500;
        font-size: 38px;
    }

    h3 {
        font-weight: 500;
        font-size: 28px;
    }

    h5 {
        font-weight: 500;
    }
}
