.checkbox {

}

.checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.checkbox__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__legend {
    font-family: Inter, sans-serif;
    color: var(--grey-4);
    margin-left: 12px;
}

.checkbox__icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    color: var(--white);
}

.checkbox__control {
    position: relative;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__legend {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state {
    cursor: auto;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__legend {
    color: var(--grey-2);
}