.header {
    height: 82px;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0 62px;
}

.header__logo {
    width: 110px;
    height: 32px;
}

.header__nav {
    align-self: center;
    justify-self: end;
}

.header__nav-item {
    font-family: Inter, serif;
    line-height: 24px;
    color: var(--grey-3);
    text-decoration: none;
    padding-right: 24px;
}

.header__nav-item_active {
    color: var(--black);
}

.header__nav-item:last-child {
    padding-right: 0;
}