.preview {
    padding: 22px 0;
}

.preview__container {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-15px / 2);
}

.preview__card {
    display: flex;
    width: 100%;
    margin: calc(15px / 2);
    flex-direction: column;
    justify-content: space-between;
    height: 231px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 80px 26px 30px;
}

.preview__card-title {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
}

@media all and (min-width: 387px) {
    .preview__card {
        width: calc(50% - 15px);
    }
}

@media all and (min-width: 887px) {
    .preview {
        padding: 68px 0 204px;
    }

    .preview__container {
        margin: -15px;
    }

    .preview__card {
        width: calc(33.333% - 30px);
        height: 367px;
        margin: 15px;
    }
}